<style>
  .maincontainer {
    background: linear-gradient(0.25turn, rgb(116, 50, 2), rgb(205, 103, 30), rgb(191, 116, 30));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .box {
    background: skyblue;
    height: auto;
    width: 750px;
    border-radius: 15px;
    padding: 20px;
  }

  .headingdiv {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .centerstyle {
    display: flex;
    justify-content: center;
  }

  .bg {
    background-color: rgb(112, 97, 97);
    color: rgb(93, 236, 236);
  }
</style>


<html>
<title>EDIT FOOD</title>

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
  <script src=" https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/javascripts/project.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@300&display=swap"
    rel="stylesheet">
    <script>
      $(document).ready(function(){
        var dbdays=$('#addi').val().split(",")
        $('.serve').map((i,item)=>{
          dbdays.map((d)=>{
            
            if($(item).val()==d)
            {
              $(item).prop('checked',true)
            }
          })
        })
      })
    </script>
</head>

<div class="maincontainer">
  <div class="box">
    <div class="headingdiv">
      <div>
        <img src="/images/foodlogo.png" width="60" height="60" />
        <span
          style="font-size: 20px; font-weight: bold; font-family: poppins; letter-spacing: 1;padding-left: 10px;">Edit
          Food</span>
      </div>
      <div>
        <a href="/food/fetchallfood" style="text-decoration: none;"><img src="/images/listfood.png" width="50" height="50" /></a>
      </div>

    </div>
    <form action="/food/edit_food_details" method="post" class="row g-3">
      <input type="hidden" id="addi" value="<%= data.additional %>">
      <input type="hidden" value="<%=data.fdid %>" name="fdid">
      <div class="col-md-6">
        <label for="foodid" class="form-label"><b>Food Cuisine </b></label>
        <select id='food' name="foodid" class="form-select "
          style="background-color: rgb(112, 97, 97);color: rgb(93, 236, 236);" aria-label="Default select example">
          <option value="<%=data.foodid%>">
            <%=data.foodcuisinename%>
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="foodid" class="form-label"><b>Food </b></label>
        <select id='fooditem' name="fooditemid" class="form-select"
          style="background-color: rgb(112, 97, 97);color: rgb(93, 236, 236);" aria-label="Default select example">
          <option value="<%=data.fooditemid%>">
            <%=data.fooditem%>
          </option>
        </select>
      </div>

      <div class="col-md-6" style="display: flex; flex-direction: column;">
        <div><b>Status Type</b></div>
        <div style="display: flex;flex-direction: row; justify-content: space-evenly; ">
          <div class="form-check">
            <input class="form-check-input" <%=data.statustype=="VEG" ?"checked":"" %> type="radio" name="statustype"
            value="VEG" id="statustype">
            <label class="form-check-label " for="statustype">
              VEG
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" <%=data.statustype=="NON VEG" ?"checked":"" %> type="radio"
            name="statustype" value="NON VEG" id="statustype">
            <label class="form-check-label" for="statustype">
              NON VEG
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-6" style="display: flex; flex-direction: column;">
        <div><b>Status</b></div>
        <div style="display: flex;flex-direction: row; justify-content: space-evenly; ">
          <div class="form-check">
            <input class="form-check-input" <%=data.status=="Available" ?"checked":"" %> type="radio" name="status"
            value="Available" id="status">
            <label class="form-check-label" for="status">
              Available
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" <%=data.status=="Not Available" ?"checked":"" %> type="radio" name="status"
            value="Not Available" id="status">
            <label class="form-check-label" for="status">
              Not Available
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <label for="description" class="form-label "><b>Description</b> </label>
        <input type="text" value="<%=data.description%>" name="description" class=" form-control"
          style="background-color: rgb(112, 97, 97);color: rgb(93, 236, 236);" id="description">
      </div>

      <div class="col-md-6">
        <label for="price" class="form-label"><b>Price</b> </label>
        <input type="text" value="<%=data.price%>" name="price" class="form-control"
          style="background-color: rgb(112, 97, 97);color: rgb(93, 236, 236);" id="price">
      </div>

      <div class="col-md-6">
        <label for="offer" class="form-label"><b>Offer Price</b></label>
        <input type="text" value="<%=data.offer%>" name="offer" class="form-control"
          style="background-color: rgb(112, 97, 97);color: rgb(93, 236, 236);" id="offer">
      </div>

      <div class="col-md-12" style="display: flex; flex-direction: column;">
        <div><b>Additional Servings</b></div>
        <div style="display: flex;flex-direction: row; justify-content: space-evenly; ">
          <div class="form-check">
            <input class="form-check-input serve" type="checkbox" 
            name="additional" value="coldrink" id="additional">
            <label class="form-check-label" for="additional">
              Cold Drink
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input serve" type="checkbox" 
            name="additional" value="waterbottle" id="additional">
            <label class="form-check-label" for="additional">
              Water Bottle
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input serve" type="checkbox" 
            name="additional" value="snacks" id="additional">
            <label class="form-check-label" for="additional">
              Snacks
            </label>
          </div>
        </div>
      </div>



      <div class="col-md-6 centerstyle">
        <button style="width: 70%;" type="submit" value="Edit" name="btn" class="btn btn-primary">Edit</button>
      </div>

      <div class="col-md-6 centerstyle">
        <button style="width: 70%;" type="submit" value="Delete" name="btn" class="btn btn-primary">Delete</button>
      </div>



    </form>
  </div>
</div>

</html>